/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e40af;
  --ifm-color-primary-dark: #1e3da3;
  --ifm-color-primary-darker: #1e3a99;
  --ifm-color-primary-darkest: #1e3a8a;
  --ifm-color-primary-light: #2348bf;
  --ifm-color-primary-lighter: #2a51cc;
  --ifm-color-primary-lightest: #3b62d9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #93c5fd;
  --ifm-color-primary-dark: #80bbfc;
  --ifm-color-primary-darker: #6eb0fb;
  --ifm-color-primary-darkest: #60a5fa;
  --ifm-color-primary-light: #a5d1fe;
  --ifm-color-primary-lighter: #b8d9fe;
  --ifm-color-primary-lightest: #cde4ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
